body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(rgb(150, 241, 150),white);
}

#td{
  background-color: rgb(150, 241, 150);
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  text-align: center;
  background-color:  rgb(134, 204, 134);
  border: 2px solid black;
  font-size: 30px;
  color: black;
}

#card{
  background-color:  rgb(134, 204, 134);
  color: black;
  display: flex;
  justify-content: center;
  width: 250px;
  border: 0px;
}

